.frma {
  width: 96%; max-width: 1024px; max-height: 99vh; height: auto; margin: 10px auto;
  padding: 0 1.4vw; border-radius: 6px; visibility: visible; opacity: 1;
  border: 1px solid rgb(197, 197, 197); box-shadow: 2px 2px 4px rgb(100, 100, 100);
  box-sizing: border-box;
  /* transition: max-height .2s .2s; */
}
.frma > h1 {
  font-size: 2.3em; font-style: italic;
  color: white; text-shadow: 2px 2px 2px var(--corb);
}

.lbtns { display: flex; justify-content: flex-end; gap: 30px; margin: 15px auto; }
/*#region ----------------------------------------------- FIELDS GLOBAL  ----------- */
.fld {
  height: auto; margin: 8px auto; padding: 0 1.4vw; box-sizing: border-box;
}
.fld:not(.actv) { opacity: 0; visibility: hidden; display: none; }
.fld.actv {
  max-height: 80vh; opacity: 1; visibility: visible; transition: max-height .1s, visibility .3s;
}

.hiden, .hidenb {
  max-height: 0; visibility: hidden; opacity: 0; transition: max-height .1s, visibility .1s;
}
.hidenb { display: none; }

.fld legend { font-style: italic; padding: 0 7px; vertical-align: text-top; }
.fld h3 { font-style: italic; }
.fld > h3 { padding: 0; }
.fld > *:not(legend) { margin-bottom: 10px; }
.fld label { margin-left: 15px; }
.fld input, .fld select { margin: 0 5px; }
.fld > button, .fld [type="radio"] { margin: 10px; }
.flxcol { display: flex; flex-direction: column; justify-content: center; align-items: flex-end; }
/*#endregion ------------------------------ */
.dvDt, .dvsaldo { padding-top: 15px; border: 1px inset whitesmoke; }
.dvDt input, .dvsaldo input { margin-bottom: 15px; }
/*#region --------------------------- FLD CAR -------- */
.dvcar > button { margin: 0 10px; }
/*#endregion ------------------------------ */

/*#region --------------------------- FLD POUPANÇA -------- */
.dvpoup > button { margin: 10px; }
.dvinptspoup {
  margin: 10px auto; display: flex; justify-content: center;
  flex-wrap: wrap; gap: 15px;
}
.dvinptspoup :is(input[type=number]){ margin-bottom: 15px; }

.inptjuros{ width: 50px; }
/*#endregion ------------------------------ */

/*#region ------------------------- DV RESULTS ----- */
.dvfinal{
  display: block; max-height: 0vh; margin: 15px auto; padding: 20px 10px;
  visibility: hidden; overflow-y: scroll; scroll-behavior: smooth;
  scroll-snap-type: y; scroll-snap-stop: normal; color: white;
  background-color: var(--corb);
  -webkit-mask: center / 100% no-repeat linear-gradient(to bottom, transparent, black 14% 86%, transparent);
  mask: center / 100% no-repeat linear-gradient(to bottom, transparent, black 14% 86%, transparent);
  transition: max-height .1s, visibility .1s;
}
.dvfinal:not(.hidenb) {
  max-height: 200px; height: auto; visibility: visible;
  transition: max-height .4s, visibility .3s .1s;
}
/* .dvfinal.hidenb { transition: max-height .1s, visibility .1s; } */
.dvfinal p {
  font-size: 1.2em; font-weight: normal; font-style: italic;
  transition: font-weight .1s;
}

.dvfinal:not(.hidenb) .scrolviw{
  font-weight: bold; transition: font-weight .3s; scroll-snap-align: center;
}
/*#endregion ------------------------------ */

/*#region ---------------------- CORES -------- */
.fld legend { color: var(--cor);}
/* .fld > h3 { color: var(--corb); } */
.fld :is(h3) { color: var(--corb); }
/*#endregion ------------------------------ */

/*#region ------------------------- TEST ----- */

.ldvtst { margin: 30px auto; }
.ldvtst button { margin: 0 10px; }
.dvdads {
 text-align: left; width: fit-content; margin: 5px auto; max-height: 40vh;
 overflow-y: scroll; border: 1px solid red;
}
.dvdads p { line-height: 1.3em; }
.dvdads p span { white-space: pre; }
.dvdads p:nth-child(odd) { background-color: rgb(220, 220, 220); }
/*#endregion ------------------------------ */
