.frma {
  width: 96%; max-width: 1024px; height: auto;
  padding: 0 1.4vw; margin: 10px auto; border-radius: 6px;
  border: 1px solid rgb(197, 197, 197); box-shadow: 2px 2px 4px rgb(100, 100, 100);
}

.frma > h1 {
  font-size: 2.3em; font-style: italic; color: white;
  text-shadow: 2px 2px 2px var(--corb);
}

.lbtns { display: flex; justify-content: flex-end; gap: 30px; margin: 15px auto; }
/*#region ----------------------------------------------- FIELDS GLOBAL  ----------- */
.fld {
  width: 100%; height: 0; margin: 0 auto; padding: 0;
  opacity: 0; visibility: hidden;
}

.fld.actv {
  max-height: 100%; height: auto;  margin: 8px auto;
  padding: 1.4vw; opacity: 1; visibility: visible;
  transition: opacity .6s;
}

.hiden, .hidenb, .fld:not(.actv) {
  height: 0; max-height: 0; visibility: hidden;
  padding: 0; margin: 0;
}

.hiden > *, .hidenb > *, .fld:not(.actv) > * { display: none; }

.fld legend { font-style: italic; padding: 0 7px; vertical-align: text-top; }
.fld h3 { font-style: italic; }
.fld > h3 { padding: 0; }
.fld > *:not(legend) { margin-bottom: 10px; }
.fld label { margin-left: 15px; }
.fld input, .fld select { margin: 5px; }
.fld > button, .fld [type="radio"] { margin: 10px; }
.flxcol { display: flex; flex-direction: column; justify-content: center; align-items: flex-end; }
/*#endregion ------------------------------ */
.dvDt, .dvsaldo { padding: 15px; border: 1px inset whitesmoke; }
.dvDt button, .dvsaldo button{ margin-top: 15px; }
.dvDt.hidenb, .dvsaldo.hidenb { padding: 0; margin:0; }
/*#region --------------------------- FLD CAR -------- */
.dvcar > button { margin: 10px; }
/*#endregion ------------------------------ */

/*#region --------------------------- FLD POUPANÇA -------- */
.dvpoup > button { margin: 10px; }
.dvinptspoup {
  margin: 10px auto; display: flex; flex-wrap: wrap;
  justify-content: center; gap: 15px;
}
.dvinptspoup :is(input[type=number]){ margin-bottom: 15px; }
.inptjuros{ width: 50px; }
/*#endregion ------------------------------ */

/*#region --------------------------- FLD CALC -------- */
.fld[name='fldcalc'] > div:first-of-type > label:not(:first-child) { cursor: pointer; }
/*#endregion ------------------------------ */

/*#region ------------------------- DV RESULTS ----- */
.dvfinal{ margin: 0; padding: 0; height: auto; display: block; background-color: red; }

.dvfinal.hidenb, .dvfinal.hidenb > *{
  display: block; margin: 0; padding: 0;
}
.dvfinal.hidenb{
  max-height: 0; visibility: hidden; opacity: 0;
  transition: max-height .2s, visibility .2s, opacity .2s;
}

.dvfinal:not(.hidenb) {
  margin: 20px auto; max-height: 350px; height: auto; visibility: visible; opacity: 1;
  transition: max-height .2s, visibility .2s, opacity .2s;
}
/*#endregion ------------------------------ */

/*#region ---------------------- CORES -------- */
.fld legend { color: var(--cor);}
.fld :is(h3) { color: var(--corb); }
/*#endregion ------------------------------ */

/*#region ------------------------- TEST ----- */
.ldvtst { margin: 30px auto; }
.ldvtst button { margin: 0 10px; }
.dvdads {
 text-align: left; width: fit-content; margin: 5px auto; max-height: 40vh;
 overflow-y: scroll; border: 1px solid red;
}
.dvdads p { line-height: 1.3em; word-break: break-word; }
.dvdads p:nth-child(odd) { background-color: rgb(220, 220, 220); }
/*#endregion ------------------------------ */
