/*#region ------------------------- DV RESULTS ----- */
.dvfinal{
  max-height: 300px; height: auto; visibility: visible;
  margin: 20px auto; padding: 25px 7px;
  overflow-y: scroll; scroll-behavior: smooth;
  scroll-snap-type: y; scroll-snap-stop: normal; color: white;
  background: var(--dgrda);
  -webkit-mask: center / 100% no-repeat linear-gradient(to bottom, transparent, black 5% 95%, transparent);
  mask: center / 100% no-repeat linear-gradient(to bottom, transparent, black 5% 95%, transparent);
}
.dvfinal h3 {
  font-size: 1.6em; font-weight: bold; font-style: italic;
  text-decoration: underline solid 2px; text-underline-offset: 7px;
}
.dvfinal.fx h3{ color: red; }

.dvfinal p {
  font-size: 1.2em; font-weight: 400; font-style: italic; line-height: 1.5em;
  margin: 18px auto; animation: animp 3s 1 both;
}

.dvfinal.fx p:nth-of-type(1){ animation-delay: 1s; }
.dvfinal.fx p:nth-of-type(2){ animation-delay: 4s; }
.dvfinal.fx p:nth-of-type(3){ animation-delay: 7s; }
.dvfinal.fx p:nth-of-type(4){ animation-delay: 10s; }

@keyframes animp {
  0%, 100% { font-weight: 400; scroll-snap-align: none; }
  20%, 80% { scroll-snap-align: center; font-weight: 500; }
}
/*#endregion ------------------------------ */
